<!DOCTYPE html>
<html>
  <head>
    <title>TA Queue Prototype</title>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css"></link>
    <script type="text/javascript" src="/js/lib/jquery-3.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>  


  </head>
  
  <body>