<% include partials/header %>

  <div id="appContainer">
    <form action="/createRoom" class="form-inline justify-content-center" method="post">
      <div class="input-group">
        <input id="newRoom" name="newRoom" class="form-control" autocomplete="off" placeholder="Room Name" required>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary btn-sm">Create Room!</button>
        </div>
      </div>
    </form>
    
    <hr>
    
    <table>
        <tr>
          <th>Rooms</th>
          <th>Queue Size</th>
        </tr>
        <% rooms.forEach(function(room) { %>
        <tr class="tableformat">
          <td>
            <a href= <%= encodeURI("room/" + room["name"]) %>>
              <%= room["name"] %>
            </a>
          </td>
          <td>
            <%= room["queue"].length %>
          </td>
        </tr>
        <% }) %>
    </table>
  </div>
  
    
<% include partials/footer %>