<% include partials/header %>
  
  <div id="container">
    <header>
      <h1>Deja Queue</h1>
      <h4>I've been in this place before</h4>
    </header>

    <form action="/createRoom" method="post">
      <input id="newRoom" name="newRoom" autocomplete="off" required/>
      <button class="btn btn-light btn-sm">Create Room!!</button>
    </form>
    
    <hr>
    
    <table>
        <tr>
          <th>Rooms</th>
          <th>Queue Size</th>
        </tr>
        <% Object.keys(rooms).forEach(function(roomName) { %>
        <tr class="tableformat">
          <td>
            <a href= <%= "room/" + roomName %>>
              <%= roomName %>
            </a>
          </td>
          <td>
            <%= rooms[roomName].length %>
          </td>
        </tr>
        <% }) %>
    </table>
  </div>
  
    
<% include partials/footer %>