<% include partials/header %>
  
  <div id="container">
    <h1>Deja Queue</h1>
    <h3>I've been in this place before</h2>

    
    <form action="/createRoom" method="post">
      <input id="newRoom" name="newRoom" autocomplete="off" required/>
      <button>Create Room!!</button>
    </form>
    
    <hr>
    
    <table>
        <tr>
          <th>Room Name</th>
          <th>Queue Size</th>
        </tr>
        <% Object.keys(rooms).forEach(function(roomName) { %>
          <tr>
          <td>
            <a href= <%= "room/" + roomName %>>
              <%= roomName %>
            </a>
          </td>
          <td>
            <%= rooms[roomName].length %>
          </td>
        </tr>
        <% }) %>
    </table>
  </div>
  
    
<% include partials/footer %>