<% include partials/header %>

  <div id="container">
    
    <nav class="navbar">
      <a href="/" id="home">Home</a>
      <a id="destroyRoom" href="/destroyRoom/<%=roomName%>">Destroy Room</a>
    </nav>
    
    <h1 id="roomName"><%=roomName.toUpperCase()%></h1>
    
    <form id="queueForm" action="">
      <input id="name" autocomplete="off" required/>
      <button>Join Queue!!</button>
    </form>
    
    <hr>
    
    <ul id="queue">
      <% queue.forEach(function(student) { %>
        <li>
          <span class='sName'>
          <%= student %>
          </span>
          <span class='delete'>
            <i class='fas fa-check'></i>
          </span>
        </li>
      <% }) %>
    </ul>
  </div>
  
  
<script src="/js/room.js" defer></script>
<% include partials/footer %>