body {
    font-family: 'Baloo Chettan', 'Indie Flower', 'Roboto', serif;

    background: #DD5E89;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F7BB97, #DD5E89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
    list-style-type: none;
    padding: 0;
}

table {
    margin: auto;
}

#container {
    width: 360px;
    margin: auto auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

#roomName {
    margin-top: 0;
    margin-bottom: 0;
}

#destroyRoom {
    float: right;
}