body {
    font-family: 'Roboto', 'Indie Flower', 'Baloo Chettan', serif;
    background-image: linear-gradient(to right, #5ee7df 0%, #b490ca 100%);
}

header {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

table {
    margin: auto;
}

table td + td {
    border-left:2px solid rgba(10, 20, 210, 0.3);
}

.fas {
    color : green;
}

.tableformat td:nth-child(1){
    width: 300px;
}
.tableformat td:nth-child(2){
    width: 200px;
}

#container {
    width: 360px;
    margin: auto auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    
    background-image: linear-gradient(to left, #5ee7df 0%, #b490ca 100%);
}

#roomName {
    margin-top: 0;
    margin-bottom: 0;
}

#home {
    float: left;
}

#destroyRoom {
    float: right;
}